.fullContainer {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 1fr;
}

.containerModal{
    grid-column: 2;
    grid-row: 1/2;
    z-index: 1;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent !important;
    grid-column: 2;
    grid-row: 1/2;
    
}


