
<div class="splash text-center">
    <img src="../assets/mercadolibred.png" alt="" class="mercadoLogo">
    <p class="poBy">Powered By</p>
    <img src="../assets/santander.png" alt="" class="santander">
</div>
<div class="principal row grid animated fadeIn">
    <div class="encMercadolibre col-12">
        <img class="mercadolibreT" src="../assets/mercadolibred.png" alt="">
        <img class="mercadolibreM" src="../assets/mercadolibre.png" alt="">
    </div>    
    <app-form-step></app-form-step>
</div>