<div class="splash text-center">
        <img src="assets/logo.png" alt="" class="mercadoLogo">
        <p class="poBy">Powered By</p>
        <img src="assets/consumerFinance.png" alt="" class="santander">
</div>

<div class="principal row grid animated fadeIn">
    <div class="encMercadolibre">
        <div class="logos">
            <!-- <img class="santanderWt" src="assets/logoDos.png" alt=""> -->
            <img class="mercadolibreT" src="assets/logo.png" alt="">
        </div>
    </div>
    <app-form-step></app-form-step>
</div>