<div class="splash text-center">
        <img src="../assets/logocy_negativo.svg" alt="" class="mercadoLogo">
        <p class="poBy">Powered By</p>
        <img src="../assets/consumerFinance.png" alt="" class="santander">
</div>

<div class="principal row grid animated fadeIn">
    <div class="encMercadolibre">
        <div class="logos">
            <img class="mercadolibreT" src="../assets/logocy_negativo.svg" alt="">
            <img class="mercadolibreM" src="../assets/logocy_negativo.svg" alt="">
            <img class="santanderWt" src="../assets/sconsumerwt.png" alt="">
        </div>
    </div>
    <app-form-step></app-form-step>
</div>