/* Imports mixins */
/* Responsive */
html {
  overflow-x: hidden;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

input:focus {
  outline: none !important;
}

input#defaultCheck1-input:focus {
  outline: none !important;
}

.row {
  position: inherit !important;
}

.mat-horizontal-stepper-header {
  padding: 0px !important;
}

body {
  background-color: #F4F4F4 !important;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(../assets/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
}

.titlesPpal .titleOne {
  color: #808080;
  margin: 10px 0px;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}

.titlesPpal .titleTwo {
  color: #DBDBDB;
  text-align: center;
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}

@media only screen and (min-width: 1024px) {
  .titlesPpal .titleOne, .titlesPpal .titleTwo {
    font-size: 16px;
  }
}

.ng-invalid.ng-touched:not(form), .ng-invalid.ng-valid:not(form) {
  color: #fd0019;
}

.error {
  color: #fd0019;
}

button:focus {
  -webkit-appearance: initial;
}

.full-width {
  width: 100%;
}

.contButton button.anterior {
  display: none;
  color: #2A9FD8;
  background-color: #fff;
  border: 1px solid #2A9FD8;
}

@media only screen and (min-width: 768px) {
  .contButton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .contButton button.anterior {
    display: block;
    grid-column: 1;
  }
  .contButton button.siguiente {
    display: block;
    grid-column: 3;
    grid-row: 1;
  }
}

.mat-button {
  background: #2A9FD8;
  color: #fff;
  height: 50px;
}

.mat-button:disabled {
  background: #C2C2C2;
}

.cdk-focused {
  background: #fff;
  color: #2A9FD8;
  border: 1px solid #2A9FD8;
}

/* Modal */
.absolute {
  z-index: 0;
  position: absolute;
  padding: 8px;
}

.containerModal {
  z-index: 0;
  position: absolute;
  background-color: #fff;
  margin: 2px 21px 0px 22px;
  top: 11rem;
}

@media only screen and (min-width: 768px) {
  .containerModal {
    width: 75%;
    top: 14rem;
  }
}

@media only screen and (min-width: 1024px) {
  .containerModal {
    width: 53%;
  }
}

.containerModal .squareModal {
  z-index: 1;
  background-color: #fff;
  overflow: auto;
  height: 36rem;
  font-size: 12px;
  padding: 0px 18px 0px 18px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .containerModal .squareModal {
    height: 28rem;
  }
}

@media only screen and (min-width: 1024px) {
  .containerModal .squareModal {
    height: 28rem;
  }
}

@media only screen and (min-width: 768px) {
  .santanderGray {
    display: none;
  }
}

.cnt-button {
  padding: 10px;
}

.row.absolute {
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #fff;
  margin: 0px 15px 0px 15px !important;
}

.mat-horizontal-content-container {
  padding: 0px !important;
  display: block;
  /* height: 42rem; */
}

.mat-step-header {
  margin-left: 20px;
}

.title {
  text-align: center;
  padding: 20px 0px 0px 0px;
  font-weight: 500;
}

.tycSmall {
  font-size: 11px;
  color: #C2C2C2;
  padding-top: 15px;
}

@media only screen and (min-width: 1024px) {
  .tycSmall {
    font-size: 14px;
    padding: 5px;
  }
}

hr {
  border: 1px solid #C2C2C2 !important;
}

.checkTycOk {
  margin: 20px 0px 20px 0px;
}

button {
  margin: 0px 0px 10px 0px !important;
}

.titlesPpal.row {
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .titlesPpal.row {
    margin-top: 80px;
  }
}

.hrModal {
  border: 0.5px solid #C2C2C2 !important;
}

.cntTitlem {
  display: grid;
  grid-template-columns: 10px 1fr;
}

.cntTitlem .arrowLeft {
  grid-column: 1;
  font-size: 32px;
  padding: 20px 10px 0px 10px;
}

.cntTitlem .titleModal {
  grid-column: 2;
  text-align: center;
  padding: 20px 0px 0px 0px;
  font-weight: 500;
  font-size: 17px;
}

.encMercadolibre {
  background-color: #fff02a;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  position: fixed !important;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 50px;
}

.encMercadolibre img.mercadolibreM {
  width: 60%;
  align-self: center;
  justify-self: right;
}

.encMercadolibre img.mercadolibreT {
  display: none;
}

@media only screen and (min-width: 768px) {
  .encMercadolibre {
    height: 80px;
  }
  .encMercadolibre img.mercadolibreM {
    display: none;
  }
  .encMercadolibre img.mercadolibreT {
    display: block;
    align-self: center;
    justify-self: right;
  }
}

@media only screen and (min-width: 768px) {
  .logPremier {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

.row.principal.grid {
  background-color: transparent;
  margin: 0px !important;
  display: block;
}

@media only screen and (min-width: 1024px) {
  .row.principal.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .row.principal.grid app-form-step {
    grid-column: 1;
  }
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .mat-stepper-horizontal, .mat-stepper-vertical {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .mat-stepper-horizontal, .mat-stepper-vertical {
    width: 85%;
  }
}

.pie img {
  width: 60% !important;
}

.pie p.small {
  font-size: 10px;
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .pie p.small {
    color: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .pie p.small {
    top: -14px;
    position: relative;
  }
}

.splash {
  opacity: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: #fff02a;
  z-index: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  -webkit-animation: slide 2s linear 1;
  animation: slide 2s linear 1;
}

.splash .mercadoLogo {
  align-self: center;
  justify-self: center;
}

.splash .santander {
  grid-row: 3;
  align-self: initial;
  justify-self: center;
}

.splash .poBy {
  grid-row: 2;
  align-self: end;
  justify-self: center;
}

@-webkit-keyframes slide {
  0% {
    z-index: 3;
    opacity: 0;
  }
  20% {
    z-index: 3;
    opacity: 0;
  }
  40% {
    z-index: 3;
    opacity: 1;
  }
  60% {
    z-index: 3;
    opacity: 1;
  }
  80% {
    z-index: 3;
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    z-index: 3;
    opacity: 0;
  }
  20% {
    z-index: 3;
    opacity: 0;
  }
  40% {
    z-index: 3;
    opacity: 1;
  }
  60% {
    z-index: 3;
    opacity: 1;
  }
  80% {
    z-index: 3;
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}

.spinnerCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 2;
  background: #ffffff85;
}

.spinnerCont mat-spinner {
  grid-column: 2;
  grid-row: 2;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 2000mss;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
