$color-btn-activo: #2A9FD8;
$color-btn-disabled: #C2C2C2;
$color-error: #fd0019;
$color-white: #fff;
$color-mercadolibre: #fff02a;
$color-fondo: #F4F4F4;
$color-transparent:transparent;

/* Responsive */

$sSmall: 320px;
$mSmall: 375px;
$lSmall: 425px;
$tablet: 768px;
$desktop: 1366px;
$bigScreen: 1920px