$color-btn-activo: #C3092F;
$color-btn-disabled: #C2C2C2;
$grisOscuro: rgba(194, 194, 194, 0.747);
$grissOscuro: #666674;
$color-error: #fd0019;
$color-white: #fff;
$color-mercadolibre: #000000;
$color-fondo: #F4F4F4;
$color-transparent:transparent;
$color-negro: #000000;
$color-rojo: #F10024;
$gris-tenue: #e9e9e9be;
$gris: #ebebeb;

/* Responsive */

$sSmall: 320px;
$mSmall: 375px;
$lSmall: 425px;
$tablet: 768px;
$desktop: 1366px;
$bigScreen: 1920px;