@font-face {
    font-family: 'Nissan Brand';
    src: url('../assets/fonts/NissanBrand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nissan Brand';
    src: url('../assets/fonts/NissanBrand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

