/* Imports mixins */
@import 'variables';
@import 'mixins';

html{
    overflow-x: hidden;
}

.mat-horizontal-stepper-header {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);       

    .mat-step-icon{
        align-self: center;
        justify-self: center;
        /* grid-row: 2; */
    }

    .mat-step-label{
        grid-row: 1;
    }    
}

.mat-horizontal-stepper-header-container{
    
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: none;
    box-shadow: none;

    @include tablet() {       

        border-radius: 10px;
        padding: 15px;
        margin: 15px;
        background-color: #ffffff;
        box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4);
    }    
}

.mat-stepper-horizontal-line{
    margin: 0 -50px !important;
    border-top-width: 2px !important;
    @include tablet(){
        margin: 0 -65px !important;
    }
}

.subTitulo{
    margin-top: 20px;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
  }

input:focus {
    outline:none !important;
}

input#defaultCheck1-input:focus {
    outline:none !important;  
}

.row{
    position: inherit !important;
}

.mat-horizontal-stepper-header{
    padding: 0px !important;
}

body{
    background-color: $color-fondo !important;
    @include tablet() {
        background-image: url(../assets/fondo.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover; 
    }    
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 1.25em;
    margin: 10px 0px;
    font-size: 1em;
    @include deskopt(){
        margin: 10px 10px;
    }
}

.titlesPpal{        
    .titleOne{
        color: #000000;
        margin: 10px 0px;
        font-size: 14px;
        margin: 20px 0px;
        display: none;
        @include tablet(){
            display: block;
        }
    }
    .titleTwo{
        color: #DBDBDB;
        text-align: center;
        font-size: 14px;
        margin: 0px 0px 5px 0px;
        display: none;
        @include tablet(){
            display: block;
        }
    }
    @include deskopt(){
        .titleOne, .titleTwo{
            font-size: 16px;
        }
    }
}

.ng-invalid.ng-touched:not(form), .ng-invalid.ng-valid:not(form){
    color: $color-error;
}

.error{
    color: $color-error; 
}

button:focus {
    -webkit-appearance: initial;
}

.full-width {
    width: 100%;
}

.contButton{
    button.anterior{
        display: none;
        color: $color-btn-activo;
        background-color: $color-white;
        border: 1px solid $color-btn-activo;
        }
    
@include tablet(){    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    button.anterior{
            display: block;
            grid-column: 1;
        }
    button.siguiente{
            display: block;
            grid-column: 3;
            grid-row: 1;
          }
    }        
}



.mat-button{
    background: $color-btn-activo;
    color: $color-white;
    height: 50px;
    &:disabled{
        background: $color-btn-disabled;
    }    
}

/* Modal */

.absolute {
    z-index: 0;
    position: absolute;
    padding: 8px;
}

.containerModal {
    z-index: 0;
    position: absolute;
    background-color: $color-white;
    margin: 2px 21px 0px 22px;
    top: 10rem;

    /* @include mSmall(){
        width: 55%;
    } */
    
    @include tablet(){
        width: 54%;
        top: 18rem;
    }
    @include deskopt(){
        width: 43%;
    }
    @include bigScreen(){
        width: 36.5%;
    }    
    .squareModal{
        z-index: 1;
        background-color: $color-white;
        overflow: auto;
        height: 58rem;
        font-size: 12px;
        padding: 0px 18px 0px 18px;
        text-align: justify;
        @include sSmall(){
            height: 54rem;
        }
        @include mSmall(){
            height: 52rem;
        }
        @include lSmall(){
            height: 51rem;
        }
        @include tablet(){
            height: 46rem;            
        }
        @include deskopt(){
            height: 46rem;
        }
        @include bigScreen(){
            margin: 0px 0px 0px 36px;
            height: 45rem;
            .contButton{
                margin: 20px 0px 15px 10px;
            }
        }
    }
}

.santanderGray{
    @include tablet(){
        display: none;
    }
}


.cnt-button {
    padding: 10px;
}

.row.absolute {
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: $color-white;
    margin: 0px 15px 0px 15px !important;
}

.mat-horizontal-content-container{
    padding: 0px !important;
    display: block;
    /* height: 42rem; */
}

.mat-step-header{
    margin-left: 20px;
}

.title {
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-weight: 500;
}

.tycSmall{
    font-size: 11px;
    color: $color-btn-disabled;
    padding-top: 15px;
    @include deskopt(){
        font-size: 14px;
        padding: 5px;
    }
}

hr{
    border: 1px solid $gris-tenue !important;
    margin: 20px 0px !important;
}

.checkTycOk{
    margin: 20px 0px 20px 0px;
}

button{
    margin: 0px 0px 10px 0px !important;
}
.titlesPpal.row {
    margin-top: 50px;
    @include tablet(){
        margin-top: 80px;
    }
}

.hrModal{
    border: 0.5px solid $color-btn-disabled !important;
}

.cntTitlem{
    display: grid;
    grid-template-columns: 10px 1fr;
    .arrowLeft{
        grid-column: 1;
        font-size: 32px;
        padding: 20px 10px 0px 10px;
    }
    .titleModal{
        grid-column: 2;
        text-align: center;
        padding: 20px 0px 0px 0px;
        font-weight: 500;
        font-size: 17px;
    }
}

.encMercadolibre{
    background-color: $color-mercadolibre;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    position: fixed !important;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 50px;
    .logos{
        display: grid;
        grid-column: 2;
        grid-template-columns: repeat(2, 1fr);
        @include tablet(){
            grid-template-columns: repeat(3, 1fr);
            width: 60%;
            margin: 0 auto;
        }
        @include deskopt(){
            grid-template-columns: repeat(3, 1fr);
            width: 60%;
        }
        @include bigScreen(){
            grid-template-columns: repeat(3, 1fr);
            width: 60%;
        }
    }
    img.mercadolibreM{
        width: 60%;
        grid-column: 1;
        align-self: center;
        justify-self: center;
    }

    img.santanderWt{
        width: 50%;
        grid-column: 2;
        align-self: center;
        justify-self: center;
        @include tablet(){
            width: 60%;
            justify-self: left;
        }
        @include deskopt(){
            width: 50%;
            justify-self: left;
        }
        @include bigScreen(){
            width: 35%;
            justify-self: left;
        }
    }
    img.mercadolibreT{
        display: none;
    }
    @include tablet(){
        height: 80px;
        img.mercadolibreM{
            display: none;
        }
        img.mercadolibreT{
            display: block;
            grid-column: 1;
            align-self: center;
            justify-self: center;
            width: 60%;
        }
    }

}

.logSantander{
    width: 80%;
    padding: 10px;
    display: block;
    margin: 0px 0px 0px 20px;
    @include tablet(){
            display: block;
            width: 80%;
            padding: 5px;
            margin: 0 auto;        
    }
    @include deskopt(){
            width: 70%;
            display: block;
            padding: 5px;
            margin: 0 auto;
    }
    @include bigScreen(){
            width: 50%;
            display: block;
            padding: 5px;
            margin: 0 auto;
    }
}

.row.principal.grid{
    background-color: $color-transparent;
    margin: 0px !important;
    display: block;
    @include deskopt(){
        display: grid;
        grid-template-columns: 0.3fr 2fr 0.3fr;
        app-form-step{
            grid-column: 2;
        }
    }  
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent;
    @include tablet(){
        width: 60%;
        margin: 0 auto;
    }
    @include deskopt(){
        width: 60%;
    }
    @include bigScreen(){
        width: 50%;
    }
}

.pie{
    img{
        width: 40%;
    }
    p.small{
        font-size: 10px;
        line-height: 1.6;
        text-align: center;
        @include tablet(){
            color: $color-white;
        }
        @include deskopt(){
            top: -14px;
            position: relative;
            
        }
    }
}


.splash{
    opacity: 0;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: $color-mercadolibre;
    z-index: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    animation: slide 2s linear 1;
        .mercadoLogo{
            align-self: center;
            justify-self: center;
        }
        .santander{
            grid-row: 3;
            align-self: initial;
            justify-self: center;
        }
        .poBy{
            grid-row: 2;
            align-self: end;
            justify-self: center;
            color: $gris-tenue;
        }
    
}

.mat-step-header:hover{
    background-color: transparent;
    &:focus{
        outline: none !important;
    }
}

[tabindex="-1"]:focus {
    outline: none !important;
}

@keyframes slide {
    0% {
        z-index: 3;
        opacity: 0;
    }
    20% {
        z-index: 3;
        opacity: 0;
    }
    40% {
        z-index: 3;
        opacity: 1;
  
    }
    60% {
        z-index: 3;
        opacity: 1;
  
    }
    80% {
        z-index: 3;
        opacity: 1;
    }
    100% {
        z-index: 0;
        opacity: 0;
    }
  }

.spinnerCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 2;
    background: #ffffff85;
    mat-spinner{
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;
    }
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 2000mss;
    animation-duration: 2000ms;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    75%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }


}
.fadeIn {
    animation-name: fadeIn;
}


/* Radio Buttons Group */

.contPeriodo {
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin: 10px 10px;
  
    @include tablet(){
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    }
  
    /* span {
      grid-row: 1;
    } */
  }
  
  /* Radio Buttons */
  
  /* style your lables/button */
  input[type="radio"] + div {
    /* keep pointer so that you get the little hand showing when you are on a button */
    cursor: pointer;
    /* the following are the styles */
    border-radius: 3px;
    padding: 5px 5px;
    background-color: $color-white;
    border: 1px solid $grisOscuro !important;
    width: 95%;
    height: 50px;
    border: none;
  
    /* @include tabletLaptop() {
      border-radius: 15px;
    }
  
    @include laptopDesktop() {
      border-radius: 15px;
    }
  
    @include desktopFull() {
      border-radius: 15px;
    } */
  }
  
  .radio {
    input[type="radio"]:checked + div {
      /* style for the checked/selected state */
      border-radius: 5px;
      box-shadow: 0px 1px 7px 0px $color-btn-disabled;
      background-color: white;
      border: none;
      font-weight: 800;
  
      /* @include laptopDesktop() {
        border-radius: 15px;
      }
  
      @include desktopFull() {
        border-radius: 15px;
      } */
    }
  }
  
  /* Radio Button */
  
  .radio {
    display: grid;
    grid-template-columns: auto;
  
    input {
      opacity: 0;
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      justify-self: center;
      z-index: 1;
      width: 95%;
      height: 100%;
  
      /* @include laptopDesktop() {
        min-height: 150px;
      }
      @include desktopFull() {
        min-height: 150px;
      } */
    }
  
    div {
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-auto-rows: 1fr;
      align-self: center;
      justify-self: center;

      .mes {
        grid-row: 1;
        font-size: 12px;
        color: $grissOscuro;
        align-self: center;
        text-align: center;
  
        /* @include tabletLaptop() {
          font-size: 18px;
          font-weight: 600;
        }
  
        @include laptopDesktop() {
          font-size: 18px;
          font-weight: 600;
        }
  
        @include desktopFull() {
          font-size: 18px;
          font-weight: 600;
        } */
      }
    }
  }

  .cntTitle{
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      div.title{
        align-self: center;
        justify-self: center;
        }
      small{
        display: none;
        }

      @include tablet(){
        grid-template-columns: repeat(2, 1fr);        
        small{
            display: block;
            align-self: center;
            justify-self: right;
            padding: 20px 10px;
        }
        div.title{
            justify-self: left;
            padding: 20px 10px;
        }
      }
  }

  mat-icon{
    cursor: pointer;
  }

  .contDetalles{
    border: 1px solid $gris-tenue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  small.infoRequerida{    
      display: block;
    @include tablet(){
        display: none;
    }
  }

  .mat-horizontal-stepper-header .mat-step-icon {
      margin-right: 0px;
      @include tablet(){
        margin-right: 20px;
      }
  }

  .mat-step-label{
      font-size: 10px;      
    @include tablet(){
        font-size: 14px;
      } 
  }

  .mat-horizontal-stepper-header-container{
      margin-top: 20px;
  }

  .pointer{
    cursor: pointer;
  }

  .obligatorio{
      color: $color-rojo;
  }

  .negValue input {
    color: black !important;
}
  


