<form novalidate="" (ngSubmit)="guardar(form)" #formTc="ngForm">

    <section>
    
        <p class="titulo"><strong>Cuéntanos de ti</strong></p>
        <hr>
    
        <div class="form-group row">
            <label for="" class="col-8 col-form-label">¿Cómo te llamas?<i>*</i></label>
            <div class="col-12">
                <input
                class="form-control" 
                type="text"  
                placeholder="Ingresa tus nombres y apellidos"
                name="Nombre1"
                minlength="3"
                maxlength="90"
                [(ngModel)]="contacto.DatosBasicos.Nombre1"
                #nombre="ngModel"
                (keypress)="oldLetters($event)"                
                (ngModelChange)="contacto.DatosFinancieros.IngresoMensual=$event"
                (keypress)="logValue($event)"
                [(pattern)]="env.patternLetter"
                required
                >
            </div>
            <small *ngIf="nombre.touched && nombre.errors?.required" class="col-8 error">Necesitamos saber tu nombre</small>
            <small *ngIf="nombre.touched && nombre.errors?.minlength" class="col-8 error">Ingresa un nombre más largo</small>
            <small *ngIf="nombre.errors?.pattern" class="col-8 error">Ingresa un nombre válido</small>
        </div>
    
        <div class="form-group row">
            <div class="col">
                <label class="">Tipo de identificación<i>*</i></label>
                        <select 
                            class="form-control"
                            id="tipoDocumentoSelect"
                            name="TipoDocumento"
                            [(ngModel)]="contacto.DatosBasicos.TipoDocumento"
                            #tipoDocumento="ngModel"
                            required
                            >
                            <option *ngFor="let obj of env.documentos" [ngValue]="obj.value" [disabled]="obj.value == 0">{{obj.name}}</option>
                        </select>
            
                        <small *ngIf="tipoDocumento.touched && tipoDocumento.errors?.required" class="col-8 error">Necesitamos saber tu tipo de identificación</small>
            </div>
    
            <div class="col">
                <label class="">Número de identificación<i>*</i></label>
                <input 
                    type="tel" 
                    class="form-control" 
                    placeholder="Ingresa tu número de identificación"
                    name="NumeroDocumento"
                    [(ngModel)]="contacto.DatosBasicos.NumeroDocumento"
                    #numeroDocumento="ngModel"                    
                    [(pattern)]="env.patternNumber"
                    minlength="6"
                    maxlength="15"
                    (keypress)="oldNumbers($event)"
                    required
                    >
                    <small *ngIf="numeroDocumento.touched && numeroDocumento.errors?.required" class="error">Necesitamos saber tu número de identificación</small>
                    <small *ngIf="numeroDocumento.errors?.minlength" class="error">Minimo {{numeroDocumento.errors.minlength.requiredLength}} digitos</small>
                    <small *ngIf="numeroDocumento.errors?.pattern" class="col-8 error">Ingresa un número de identificación válido</small>
                    
            </div>
        </div>
    
        <div class="form-group row">
                <label for="" class="col-8 col-form-label">Teléfono de contacto<i>*</i></label>
                <div class="col-12">
                    <input
                    class="form-control" 
                    type="tel"  
                    placeholder="Ingresa tu número"
                    name="Celular"
                    [(ngModel)]="contacto.DatosBasicos.Celular"
                    [(pattern)]="env.patternNumber"
                    minlength="7" 
                    maxlength="10"
                    #celular="ngModel"
                    (keypress)="oldNumbers($event)"
                    required
                    >

                    <small *ngIf="celular.touched && celular.errors?.required" class="error">Necesitamos saber tu Teléfono de contacto</small>
                    <small *ngIf="celular.errors?.minlength" class="error">Minimo {{celular.errors.minlength.requiredLength}} digitos</small>
                    <small *ngIf="celular.errors?.pattern" class="col-8 error">Ingresa un teléfono de contacto válido</small>
                </div>     
            </div>
    
        <div class="form-group row">
            <label for="" class="col-8 col-form-label">Correo electrónico<i>*</i></label>
            <div class="col-12">
    
            <input class="form-control"
                    type="email"
                    placeholder="Correo electrónico"
                    name="CorreoPersonal"
                    [(ngModel)]="contacto.DatosBasicos.CorreoPersonal"
                    #correoPersonal="ngModel"
                    [(pattern)]="env.patternMail"
                    required
                    >    
            </div>
            <small *ngIf="correoPersonal.touched && correoPersonal.errors?.required" class="col-12 error">Necesitamos saber tu correo electrónico</small>
            <small *ngIf="correoPersonal.errors?.pattern" class="col-12 error">Ingresa un correo electrónico válido</small>
        </div>
    
        <!-- Checkbox -->
    
        <div class="form-group row">
    
                <div class="col-6"></div>
    
    
                <div class="form-check col-6">
                        <p class="tyc">
                        PREMIER CREDIT o el TERCERO AUTORIZADO quedan autorizados para obtener información sobre mis relaciones comerciales con otras entidades y consultar mis reportes ante las centrales de información.
                        </p>
                        <input 
                        class="form-check-input" 
                        type="checkbox" 
                        value="" 
                        id="defaultCheck1"
                        name="AutorizaConsultaCentrales"
                        [(ngModel)]="contacto.OtrosDatos.AutorizaConsultaCentrales"
                        (click)="chechedc()"
                        #autorizaConsultaCentrales="ngModel"
                        required
                        >
                        <label class="form-check-label" for="defaultCheck1">
                          Acepto los <a href="" ngClick="">términos y condiciones</a>
                        </label>
                      </div>
            </div>
    
        
        <hr>
        
        <div class="form-group row">
            <label class="col-12 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
            <button type="" [disabled]="autorizaConsultaCentrales.invalid || correoPersonal.invalid || celular.invalid || numeroDocumento.invalid || tipoDocumento.invalid || nombre.invalid" class="btn btn-outline-primary">
                Solicitar
            </button>
            </div>
        </div>
    </section>
    
    <!-- Section -->
    
    <section>
    
        <div class="form-group row">
            <label for="" class="col-8 col-form-label">Ocupación<i>*</i></label>
            <div class="col-12">
                    <select 
                        class="form-control"
                        id="ocupacionSelect"
                        name="ActividadEconomica"
                        [(ngModel)]="contacto.DatosFinancieros.ActividadEconomica"
                        #ocupacion="ngModel"
                        required
                        >
                        <option *ngFor="let obj of env.ocupaciones" [ngValue]="obj.value" [disabled]="obj.value == 0">{{obj.name}}</option>
                    </select>
                    <small *ngIf="ocupacion.touched && ocupacion.errors?.required" class="col-8 error">Necesitamos saber tu Ocupación</small>
            </div>
        </div>
    
        <div class="form-group row">
                <label for="" class="col-8 col-form-label">Ingresos Mensuales<i>*</i></label>
                    <div class="input-group col-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                            <input
                            class="form-control" 
                            type="tel"  
                            placeholder="Ingresa el valor"
                            name="ingresoMensual"
                            #ingresoMensual="ngModel"
                            [(ngModel)]="contacto.DatosFinancieros.IngresoMensual"
                            (ngModelChange)="contacto.DatosFinancieros.IngresoMensual = currencyInputChanged($event)"
                            (keypress)="oldNumbers($event)"
                            required
                            >                    
                    </div>
    
                    <small class="col error">Inserta tus ingresos mensuales</small>
                    <small class="col error">Inserta tus ingresos mensuales</small>        
                    <small class="col error">Ingresa un valor dentro del rango</small>
            </div>
    
        <div class="form-group row">
    
                <label for="" class="col-12 col-form-label">¿Cuánto dinero deseas financiar?<i>*</i></label>
                <div class="input-group">
                    <div class="col-12 input-group-prepend">
                        <span class="input-group-text">$</span>
                        <input
                        class="form-control"
                        type="tel"  
                        placeholder="Ingresa el valor que deseas financiar"
                        name="valorFinanciar"
                        #ValorFinanciar="ngModel"
                        [(ngModel)]="contacto.DatosFinancieros.ValorFinanciar"
                        (ngModelChange)="contacto.DatosFinancieros.ValorFinanciar = currencyInputChanged($event)"
                        (keypress)="oldNumbers($event)"
                        required
                        >
                    </div>
                </div>
    
                <small class="col error">Ingresa el valor a financiar</small>        
            </div>
    
        <div class="form-group row">
            <label class="col-12 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
            <button type="submit" [disabled]="formTc.form.invalid" class="btn btn-outline-primary">
                Solicitar
            </button>
            </div>
        </div>
    
    </section>
    </form>
    <!-- Sección Final -->
    <section>
            <p class="titulo"><strong>¡Listo!</strong></p>
    
            <hr>
    
            <div class="aprobado">
                    <img src="assets/aprobado.png" alt="">
                    <div class="textres">
                        <p class="titleAprobe">¡Tu solicitud es viable!</p><br>
                        <p class="tRes">En menos de 24 horas uno de nuestros asesores se comunicará contigo para continuar tu solicitud de crédito</p>
                    </div>
            </div>
    
            <hr>
    
            <div class="negado">
                    <img src="assets/negado.png" alt="">
                    <hr>
                    <div class="textdos">
                        <p class="titleNega">¡Tu solicitud ha sido rechazada!</p>
                        <p class="tRes">Uno de nuestros asesores se comunicarán contigo para explorar alternativas</p>
                    </div>
                    <hr>
            </div>
    </section>
    
    <!-- <app-terminosycondiciones></app-terminosycondiciones> -->